/* Basic editor styles */
.tiptap {
    :first-child {
        margin-top: 0;
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin: 0.15em;
        }
    }

    img {
        display: inline-block;
        width: 6.25rem;
        height: auto;
        border-radius: 0.5rem;

        &.ProseMirror-selectednode {
            outline: 3px solid var(--purple);
            border-radius: 0.5rem; 
        }
    }

    blockquote {
        border-left: 3px solid #28A745; 
        margin: 1.5rem 0;
        padding-left: 1rem;
      }

    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1, 
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 { 
        font-size: 1.4rem; 
    }

    h2 { 
        font-size: 1.2rem; 
    }

    h3 { 
        font-size: 1.1rem; 
    }

    h4, 
    h5, 
    h6 { 
        font-size: 1rem; 
    }
}

.tiptap ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-left: 1rem;
}


.tiptap li {
    margin-bottom: 0.5rem;
}

.tiptap ol {
    list-style-type: decimal; 
    padding-left: 1.5rem; 
    margin-left: 1rem;
}
.custom-image-container {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    border-radius: 10px;
    background-color: #F1F5F9;
    border-width: 2px;
}
.custom-image-child {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content:space-between;
    align-items: center;
}

.tiptap ol li {
    margin-bottom: 0.5rem; 
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 1rem; 
}

