/* Basic editor styles */
.tiptap {
    :first-child {
        margin-top: 0;
    }

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }
}

.tiptap ul {
    list-style-type: disc;
    /* Ensures bullet points appear */
    padding-left: 1.5rem;
    /* Adds left padding */
    margin-left: 1rem;
}

.tiptap li {
    margin-bottom: 0.5rem;
    /* Spacing between list items */
}

.tiptap ol {
    list-style-type: decimal; /* Ensures numbers appear */
    padding-left: 1.5rem;  /* Adds left padding */
    margin-left: 1rem;
}

.tiptap ol li {
    margin-bottom: 0.5rem; /* Spacing between list items */
}

